#cart-page {
    margin: 80px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.cart-info {
    display: flex;
    flex-wrap: wrap; 
}
th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #fb774b;
    font-weight: normal;
}
td {
    padding: 10px 5px;
}
.quantity {
    display: inline-block;
    padding-right:10px;
}
.quantity i {
    width: 12px;
    cursor: pointer;
    display: block;
    transition:.1s;
}
.quantity i:hover {
    opacity: .6;
}
td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price {
    display: flex;
    justify-content: flex-end;
}
.total-price table {
    border-top: 3px solid #fb774b;
    width: 100%;
    max-width: 400%;
}
td:last-child {
    text-align: right;
}
th:last-child {
    text-align: right;
}